body {
  margin: 0 auto;
  font-family: "Verdana";
}

#header {
  position: fixed;
  background: #333;
  height: 49px;
  width: 100%;
  z-index: 502;
  top: 0;
  left: 0;
}

#menu {
  display: inline;
  text-align:center;
  margin:0 auto;
  position: relative;
}
#menu ul {margin:0; padding:0; list-style:none;}
#menu ul li {
  height:33px;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 15%;
  padding-top:16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a,a:hover {
  color : #FFF;
  text-decoration: none;
}

#menu ul li:hover{
	background:#111;

}

#menu ul a:focus li{
	background: #4CAF50;
}



#menu ul li a {
  color: #FFFFFF;
 text-decoration: none;
 text-transform: uppercase;
  height: 36px;
  display: block;
  cursor: pointer;
}

section {
  margin:auto;
  width: 70%;
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  section {width: 100%}
  #menu ul li {display: block; height: auto;padding:1% 0;margin:auto;width:auto;}
  #menu ul li a {height: fit-content;margin:auto;}
  #header {height:auto;}
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
