body {
  margin: 0 auto;
  background: linear-gradient(#209DFE, #60BAFF);
  background-size: cover;
  background-repeat: no-repeat;
}

ul.ulMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.ulMenu li {
  float: left;

}

ul.ulMenu li{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.ulMenu li:hover:not(.active) {background-color: #111;}

ul.ulMenu li.active {background-color: #4CAF50;}

ul.ulMenu li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.ulMenu li.right,
  ul.ulMenu li {float: none;}
}

section {
  margin: auto;
  width: 70%;
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  section {width: 100%}
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
