header {
	overflow: hidden;
  	background-color: black;
  	color: white;
}

h1 {
	
	
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 0em;
	word-spacing: 0.3em;
	color: white;
	text-align: left;
	
}

body {
	font-family: "Verdana";
}

table {
	margin-left:auto; 
    margin-right:auto;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block; 
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

.valider {
	margin:auto;
  display:block;

}

